.App {
  padding-top: 50px;
  text-align: center;
  min-height: 100vh;
}

.App-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #7c8497;
}

.connect_button {
    width: max-content;
    font-size: 1.6rem;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    background-color: rgb(228 37 117);
    border: 1px solid rgb(228 37 117);
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.connect_button:hover {
  opacity: 1;
}

.modal_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
}

.modal_card {
    position: absolute;
    inset: 10vh 20%;
    max-width: 520px;
    height: max-content;
    margin: auto;
    z-index: 100;
    overflow: hidden;
    background: #09162E;
    box-shadow: 0 2px 8px rgba(0,0,0, 0.26);
    border-radius: 25px;
    border: 1px solid #7c8497;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wallets_container, .info_container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*------------------------------ WALLETS SECTION-----------------------------*/

.wallets_container {
  border-right: 1px solid #7c8497;
}

.wallet_connect_header {
  text-align: left;
}

.main_part {
  display: flex;
  justify-content: space-between;
}

.main_part .header_icon_container {
  display: none;
}

.wallet_connect_header p {
  margin-top: 10px;
}

.wallets{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 15px;
    cursor: pointer;
    border: 1px solid #7c8497;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}

.wallets:hover {
    border: 1px solid rgb(228 37 117);
}

.wallet_name {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.wallet_image_container{
  position: relative;
  width: 30px;
  height: 30px;
}

.wallet_info {
  font-size: 18px;
}

.checked_circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #7c8497;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.wallets:hover .checked_circle {
  border: 1px solid rgb(228 37 117);
}

.inner_checked {
    visibility: hidden;
    position: absolute;
    inset: 0;
    margin: auto;
    background-color: rgb(228 37 117);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.wallets:hover .inner_checked {
  visibility: visible;
}


/*------------------------------ Wallet INFO SECTION-----------------------------*/

.info_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_icon_container {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #7c8497;
  position: relative;
  cursor: pointer;
}

.header_icon_container .icon {
  position: absolute;
  inset: 0;
  margin: auto;
  font-size: 10px;
  color: #121629;
}

.header_icon_container:hover, .header_icon_container:hover .header_icon_container .icon  {
  scale: 1.2;
}

.info_contents {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info_content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.content_icon_container {
  align-self: flex-start;
  height: 40px;
  width: 100px;
  border-radius: 50%;
  background-color: #121629;
  position: relative;
}

.content_icon_container .icon {
  position: absolute;
  inset: 0;
  margin: auto;
  font-size: 30px;
  color: rgb(228 37 117);
}

.content_details {
  text-align: left;
}

.content_details h5 {
  color: #F5F5F5;
  margin-bottom: 5px;
}

.learn_link {
  color: rgb(228 37 117);
}

.learn_link:hover {
  text-decoration: underline;
}

@media(max-width:856px) {
  .modal_card {
    flex-direction: column;
    max-width: fit-content;
    padding: 10px;
  }

  .wallets_container {
  border-right: none;
  padding-inline: 5px;
}

  .info_container {
    display: none;
  }

  .main_part .header_icon_container {
    display: block;
  }
}

